.little-quote {
    background-color: var(--bg-container-primary);
    height: 300px;
    margin: 0 0 60px 0;
}
.little-quote .container {
    height: 100%;
}
.little-quote .quote-container {
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.our-music {
    
}
.our-music .our-music-heading {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.our-music .our-music-heading::after {
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 3px;
    transition: all 0.4s ease;
    transform-origin: center;
    background-color: #f7f7f7;
    width: 0%;
    bottom: 0;
}
.our-music .our-music-heading:hover::after {
    width: 55%; 
}
.our-music .our-music-desc {
    font-size: 22px;
    text-align: center;
    margin: 20px 0;
} 

.our-music .our-music-video iframe{
    width: 80%;
    height: 500px;
}
.our-music .our-music-video {
    display: flex;
    justify-content: center;
    align-items: center;
}